body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#theme-selector {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-group > .btn {
    padding-left: 1rem;
    padding-right: 1rem;
}

.page-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

label {
    padding-bottom: .2rem;
}

small, .small {
    font-size: 85%;
}

.accordion {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.accordion > .card {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
}