body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#theme-selector {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-group > .btn {
    padding-left: 1rem;
    padding-right: 1rem;
}

.page-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0;
}

label {
    padding-bottom: .2rem;
}

.info-icon {
    height: .9rem;
    cursor: pointer;
    position: relative;
    top: -2px;
}

small, .small {
    font-size: 85%;
}

.accordion {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.accordion > .card {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
}

.tool-tip {
    max-width: 25rem;
}